body,html,ul,h1,h2,h3,h4,h5,p,li {
  margin: 0;
  padding: 0;
  font-family: 'Abel', sans-serif;
}
* {
  box-sizing: border-box;
}
li {
  list-style: none;
}
.navbar-default {
  top: -60px;
  background-color: rgba(0, 0, 0, 0.2);
  border-width: 0;
  border-radius: 0;
  border-bottom: 2px solid #0051ce;
  -webkit-animation: nav-drop 520ms ease-in-out forwards;
          animation: nav-drop 520ms ease-in-out forwards;
}
.navbar-brand {
  font-size: 40px;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.55);
  -webkit-transition: background 400ms ease-in-out;
  transition: background 400ms ease-in-out;
}
/* Darken header on scroll */
.navbar-default .transparent {
  background: transparent;
}
.darken {
  background: rgba(0,0,0,.7);
  -webkit-transition: background 350ms ease-in-out;
  transition: background 350ms ease-in-out;
}
.navbar-default .navbar-toggle {
  border-color: rgba(0,0,0,0);
}
.navbar-default .navbar-toggle:hover {
  background-color: rgba(0,0,0,0);
}
.navbar-default .navbar-toggle:focus {
  background-color: rgba(0,0,0,0);
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:hover  {
  color: #fff;
}
.navbar-default .navbar-nav>li>a:focus {
  color: #fff;
}
.navbar-nav li:hover {
  background: #0051ce;
  -webkit-transition: background-color 120ms ease-in-out;
  transition: background-color 120ms ease-in-out;
}
.navbar-nav>li>a.wht {
  color: #fff;
}
.responsive-img {
  display: block;
  width: 100%;
  height: auto;
}
.banner {
  position: relative;
  border-bottom: 2px solid #0051ce;
}
.hero-img {
  opacity: 0;
  -webkit-animation: fade-in 750ms ease-in-out forwards;
          animation: fade-in 750ms ease-in-out forwards;
}
.banner-quotes {
  position: absolute;
  bottom: -20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  border: 2px solid #0051ce;
  font-size: 2.3rem;
  left: 50%;
  padding: 0 13px;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  color: rgb(252, 253, 254);
  background: rgb(53, 54, 55);
  white-space: nowrap;
}

.skills {
  position: relative;
  margin-top: 100px;
}
.skill-container {
  text-align: center;
}
.skills h3 {
  text-transform: uppercase;
  margin-bottom: 30px;
}
.meter-container {
  position: relative;
  margin: auto;
  width: 80%;
  height: 15px;
  border: 1px solid #f00;
}
.meter {
  position: absolute;
  height: calc(15px - 2px);
  background: #000;
}
.html {
  animation: html-level 550ms cubic-bezier( 0.06, 0.45, 0.45, 1.1) forwards;
}
.css {
  animation: css-level 550ms cubic-bezier( 0.06, 0.45, 0.45, 1.1) forwards;
}


















.margin-top-20 {
  margin-top: 20px;
}
.padding-0 {
  padding: 0px;
}
.selfImageContainer {
  background-color: #b97316;
  padding: 3px;
  width: 80px;
  border-radius: 50%;
  border: 1px solid #000;
  margin: 0 auto;
}
.selfImageContainer img {
  display: block;
  -webkit-filter: grayscale(100%);
   filter: grayscale(100%);
   width: 100%;
  border-radius: 50%;
}
.about {
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  padding: 15px;
  letter-spacing: 1px;
}
.link {
  font-size: 2.3em;
  color: #000;
  line-height: 80px;
}
.link-github {
  float: right;
}
.link-linkedin {
  float: left;
}
/* WORK SECTION */
a.thumbnail:hover {
  border-color: #000;
  text-decoration: none;
  cursor: pointer;
}
#divider {
  width: 100%;
  border-top: 2px solid #000;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -50%;
  z-index: -1;
}
#work img {
  border-radius: 0px;
  border: 1px solid #000;
}
#work a {
  color: #ff9200;
  font-size: 1.5em;
  text-shadow: 1px 1px #000;
  -webkit-transition: color 150ms linear;
  transition: color 150ms linear;
}
#work a:hover {
  color: #000;
  text-shadow: 1px 1px #000;
}
#work .thumbnail {
  border: 1px solid #000;
  background-color: #f3f3f3;
  margin-bottom: 5px;
  border-radius: 0px;
  box-shadow: 0px 0px 9px -3px #000;
}
#work li {
  float: left;
  border: 1px solid #000;
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 3px 5px;
  color: #000;
}
#work ul {
  display: inline-block;
}
#work {
  /*border-top: 2px solid #000;*/
  padding-top: 60px;
  margin-top: 60px;
  position: relative;
}
#work:before {
  content: 'Work';
  position: absolute;
  top: -27px;
  left: 50%;
  margin-left: -60px;
  width: 120px;
  color: #ff9200;
  height: 30px;
  border: 2px solid #000;
  font-size: 2.5em;
  text-align: center;
  background: #fff;
  box-shadow: 0px 0px 10px -2px #000;
}
.work-container {
  margin-bottom: 20px;
}

/* CONTACT FORM */
#contact-form-body, #contact-header {
  background: #ff9200;
}
#contact-header {
  padding: 15px 15px 17px 15px;
  border-bottom: 1px dotted #fff;
  margin-top: 20px;
}
#contact-header h4 {
  font-weight: 700;
}
#contact-form-body {
  overflow: hidden;
}
#map {
  height: 260px;
}
#contact h3 {
  padding-top: 10px;
  margin-bottom: 10px;
}
#contact .fa-chevron-down {
  font-size: .8em;
  color: #fff;
}
#contact input, #contact textarea {
  border-radius: 0;
  border-color: #000;
}
textarea {
  max-width: 350px;
  max-height: 100px;
}
#contact input[type="text"], input[type="email"] {
  width: 240px;
}
#contact input[type="submit"] {
  background: none;
  color: #fff;
  border-color: #fff;
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear;
}
#contact input[type="submit"]:hover {
  border-color: #000;
  color: #000;
  border-radius: 4px;
}
/* Footer */
.footer {
  background: #000;
  margin-top: 20px;
  border-top: 3px solid #d68f30;
  color: #fff;
}
.fa-heart {
  color: #f00;
}
.footer-social i {
  color: #ff9200;
  font-size: 2em;
  padding: 5px 20px 5px 5px;
  -webkit-transition: color 100ms linear;
  transition: color 100ms linear;
}
.footer-social i:hover {
  color: #fff;
  padding: 5px 20px 5px 5px;
}
.phone {
  padding: 15px 20px 5px 5px;
  font-size: .9em;
}
.phone a {
  text-decoration: none;
  color: #fff;
}
.fa-phone {
  color: #0f0;
}
#footer-nav {
  list-style: none;
  color: #000;
  font-size: 1.5em;
  color: #fff;
  padding: 5px 0;
}
#footer-nav a {
  color: #d67a00;
  border-bottom: 1px solid #fff;
  text-decoration: none;
  padding-bottom: 1px;
  -webkit-transition: border-bottom 50ms linear;
  transition: border-bottom 50ms linear;
  letter-spacing: .2em;
}
#footer-nav a:hover {
  border-color: #000;
}
.copyright {
  color: #666666;
}
.footer-bottom {
  padding-top: 20px;
  padding-bottom: 7px;
  font-size: 11px;
  float: left;
  width: 100%;
}
















/* DROP_IN HEADER */
@keyframes nav-drop {
  0% {top: -60;}
  100% {top: 0;}
}
/* FADE_IN HEADER */
@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
/* SKILS */
@keyframes html-level {
  0% {width: 0;}
  100% {width: 90%;}
}
@keyframes css-level {
  0% {width: 0;}
  100% {width: 70%;}
}


@media (min-width: 768px) {
  .navbar-nav li a {
    font-size: 1.4em;
  }
  .hide-header {
    top: -100px;
  }
  .show-header {
    top: 0;
  }
  .navbar-right {
    float: right!important;
     margin-right: 0px;
  }
  .container-fluid {
    max-width: 1920px;
  }
}
@media (max-width: 767px) {
  .about {
    font-size: 1.5em;
  }
  #divider {
    width: 95%;
    position: absolute;
    left: 50%;
    margin-left: -47.5%;
  }
  .nav>li {
    text-align: center;
    background: rgba(0,0,0,.75);
  }
  .nav>li:not(:last-child) {
    border-bottom: 1px solid #666;
  }
  .navbar-default .navbar-nav>li>a {
    color: #fff;
  }
  .navbar-nav {
    margin: 0 -15px;
  }
}
@media (max-width: 390px) {
  .navbar-brand {
    font-size: 25px;
  }
  .banner-quotes {
    font-size: 1.5rem;
    bottom: -13px;
  }
  .navbar-brand {
    padding: 6px 15px;
    height: auto;
  }
  .navbar {
    min-height: auto;
  }
  .navbar-toggle {
    padding: 0;
  }
}